*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* inizio header */
header{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
}

.header-right, .header-left{
    display: flex;
}

.header-right{
    justify-content: flex-end;
}

.header-left img{
    width: 100px;
    padding: 0 10px;
}

.inline-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.inline-list li{
    padding: 0 10px;
    font-size: 12px;
}

.btn-sm{
    padding: 5px 10px;
}

.btn-blue{
    color: white;
    background-color:#306EFF;
    border: none;
}
/* fine header */

/* inizio jumbotron */
.jumbotron{
    height: 600px;
    background-color: lightseagreen;
    padding-top: 100px;
    margin-bottom: 150px;
}

.container-large{
    width: 70%;
    margin: 0px auto;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-30{
    width: 30%;
    /* position:relative; */
}

.col-30 ul{
    list-style-type: none;
}

.col-30 ul li{
    margin-bottom: 20px;
}

/* .col-30 i{
    position: absolute;
    bottom: 20%;
    left: 0;
} */

.col-70{
    width: 70%;
}

.col-70 img{
    width: 100%;
}

.col-100{
    width: 100%;
}

.col-100 h1{
    font-size: 70px;
    padding-bottom: 30px;
}
/* fine jumbotron */

/* inizio main */
.container-small{
    width: 60%;
    margin: 0 auto;
}

.container-small .title-button{
    width: 100%;
    margin-bottom: 20px;
}

.title-button h2{
    font-size: 40px;
    padding-bottom: 30px;
}

.title-button span{
    padding-right: 20px;
}

.container-small .col-30{
    width: 30%;
    height: 400px;
    border: 1px solid grey;
}

.container-top{
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 10px 0px;
}